<div class="container">
  <h1>Snake Vim Trainer</h1>
  <h2>Hone your vim navigation skillz</h2>
    <div class="game">
      <canvas id="canvas" width="500" height="500"></canvas><br>
      <p>Score: <span id="score"></span></p>
    </div>
    <div class="instructions">
      <% if current_user %>
        <%= erb(:user_details, :layout => false) %>
      <% else %>
        <a href="/signin" class="button">Sign In With Twitter!</a>
      <% end %>
      <h2>Instructions</h2>
      <p>Make your Vim snake eat the food to increase your score.</p>
      <p>You can only eat food while INSERT mode is on.</p>
      <p>You cannot change direction while INSERT mode is on</p>
      <p>Controls:</p>
      <ul>
        <li>Left: h</li>
        <li>Down: j</li>
        <li>Up: k</li>
        <li>Right: l</li>
        <li>Insert mode: i</li>
        <li>Normal mode: esc</li>
      </ul>

      <h1>Leaderboard:</h1>
      <ol>
        <% @leaders.each do |leader| %>
          <li><a href="https://twitter.com/<%= leader.handle %>">@<%= leader.handle %></a>: <%= leader.topscore %></li>
        <% end %>
      </ol>


    </div>
</div>

<a href="https://github.com/patmood/vim_snake"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
