<div class="container">
  <h1>Snake Vim Trainer</h1>
    <div class="game">
      <canvas id="canvas" width="500" height="500"></canvas>
    </div>
    <div class="instructions">
      <h2>Instructions</h2>
      <p>Make your Vim snake eat the food to increase your score.</p>
      <p>You can only eat food while INSERT mode is on.</p>
      <p>You cannot change direction while INSERT mode is on</p>
      <p>Controls:</p>
      <ul>
        <li>Left: h</li>
        <li>Down: j</li>
        <li>Up: k</li>
        <li>Right: l</li>
        <li>Insert mode: i</li>
        <li>Normal mode: esc</li>
      </ul>

      <h1>Leaderboard:</h1>
      <ul>
        <% @leaders.each do |leader| %>
          <li>@<%= leader.handle %>: <%= leader.topscore %></li>
        <% end %>
      </ul>


      <p>Score: <span id="score"></span></p>
      <p>Speed: <span id="speed"></span></p>
      <% if current_user %>
        <%= erb(:user_details, :layout => false) %>
      <% else %>
        <h1>Make your score count!</h1>
        <h1><a href="/signin/">Sign In With Twitter!</h1>
      <% end %>

    </div>
</div>
