<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9177631;
var sc_invisible=1;
var sc_security="fa934417";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="hit counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9177631/0/fa934417/1/"
alt="hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->


  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Vim Snake</title>
</head>
<body>
  <% if current_user %>
    Welcome, <%= current_user.handle %>! <a href="/signout">Signout</a>
  <% else %>
    <a href="/signin">Signin</a>
  <% end %>

  <%= yield %>

</body>
</html>
